
<div class="row">
    <div class="container-fluid">
        <form>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="input-meta-title">Kullanıcı adı</label>

                    <input type="text" name="srt_username" value="{{ api_info.srt_username }}" placeholder="Sürat Kargo Kullanıcı adınızı girin" id="input-meta-api-key" class="form-control" />
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label" for="input-meta-title">Parola</label>

                    <input type="text" name="srt_password" value="{{ api_info.srt_password }}" placeholder="Sürat Kargo Parolanızı girin" id="input-meta-api-secret" class="form-control" />
                </div>
            </div>


        </form>
        <div class="clearfix"></div>

    </div></div>


<div id="diger" class="well hidden">

    <div class="row">


        <p class="lead">Ayarları Başarılıylısa bu ekran açılacak</p>

    </div>


</div>

